name: OpenTofu

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  opentofu:
    uses: makeitworkcloud/shared-workflows/.github/workflows/opentofu.yml@main
    secrets:
      SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
